option_settings:
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Production
    yopo_api_serve: Production
    # Old RDS: MYSQL_CONNECTION_STRING: "Server=awseb-e-wwvqxp9xff-stack-awsebrdsdatabase-65cz859dcjb3.ci5sgygui6pi.us-east-1.rds.amazonaws.com;Port=3306;Database=ebdb;Uid=yopoapidb;Pwd=yopoapidb;SslMode=Required;"
    MYSQL_CONNECTION_STRING: "Server=awseb-e-qte3f2jafs-stack-awsebrdsdatabase-mrnypjwpwtf8.ci5sgygui6pi.us-east-1.rds.amazonaws.com;Port=3306;Database=ebdb;Uid=yopoapidb;Pwd=yopoapidb;SslMode=Required;"
    JWT_SECRET_KEY: "YourSuperSecretJWTKeyThatShouldBeAtLeast64CharactersLongForBetterSecurity123456789"
    ENABLE_SWAGGER: "true"
  aws:elasticbeanstalk:container:dotnet:apppath:
    ASPNETCORE_ENVIRONMENT: Production
